*.class
*.log

# Package Files #
*.jar
*.war

#compilation bin
bin/
target/
/target/

#svn files
.svn/
svn-commit.tmp

# java local class path 
.classpath
.settings/org.eclipse.core.resources.prefs
target/maven-status/maven-compiler-plugin/compile/default-compile/
/libs/
